<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="CLHeader">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" th:href="@{/}" th:text="#{navbar.common.main}">메인!</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/product/list}"
                           th:text="#{navbar.common.productList}">상품목록!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/order/list}" th:text="#{navbar.common.orderList}">주문목록!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/member/info}"
                           th:text="#{navbar.common.profile(${session.userId})}">회원정보!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/login/logout}" th:text="#{navbar.common.logout}">로그아웃!</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

</body>
</html>