<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="footer">
    <br>
    <hr>
    <p style="text-align: center; ">회사소개 &emsp; 이용안내 &emsp; 이용약관 &emsp; 개인정보 &emsp; 처리방침이메일무단수집거부</p>
    <hr>
    <p style="text-align: center;">
        <br>
        상호명 : ####   대표:###   대표전화: 123-4567-8900   팩스: 1234-567-8900<br>
        통신판매업 신고번호 : 제 1234-서울시-1234호   사업자 등록번호: 123-45-67890   사업자 정보확인<br>
        소재지 : #### 개인정보 처리 책임자: #### Hosting by (주) ###<br><br>
        Copyright(c) ####.co.kr All Rights Reserved.<br>

</footer>
</body>
</html>