<!DOCTYPE html>
<html  th:fragment="layout(title, section)" xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}">Title</title>

    <!--/* 부트스트랩 css/js */-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <!--/* ---------------- */-->

    <style>
        #wrapper{
          padding-top: 70px;
          height: auto;
          min-height: 100%;
          padding-bottom: 150px;
        }
        footer{
          height: 100px;
          position : relative;
          transform : translateY(-100%);
        }
        .error-color {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>

</head>
<body>

<div th:if="${session.mStatus eq 'COMMON'}">
    <header th:replace="~{layout/commonLoginHeader :: CLHeader}">헤더</header>
</div>
<div th:if="${session.mStatus eq 'MANAGER'}">
    <header th:replace="~{layout/managerLoginHeader :: MLHeader}">헤더</header>
</div>
<div th:if="${session.mStatus eq null}">
    <header th:replace="~{layout/header :: header}">헤더</header>
</div>

<div id='wrapper'>
    <div>
        <section th:replace="${section}">컨텐츠</section>
    </div>
</div>

<footer th:replace="~{layout/footer :: footer}">푸터</footer>

</body>
</html>