<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.orf" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="MLHeader">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" th:href="@{/}" th:text="#{navbar.common.main}">메인!</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/product/saveForm}" th:text="#{navbar.manager.productSave}">상품등록!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/product/list}" th:text="#{navbar.manager.productList}">상품목록!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/member/list/{nowPage}(nowPage=1)}" th:text="#{navbar.manager.memberList}">회원목록!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/login/logout}" th:text="#{navbar.manager.logout}">로그아웃!</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>
</body>
</html>